*{
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: black;
}
/* NavBar */
.nav{
    width: 100%;
    height: 58px;
    background-color: black;
}
.logo{
    padding: 12px 0 0px 30px;
}
h1:hover{
    text-shadow:3px 3px 5px white ;
}  
.logo, .menuBar, .btn{
    float: left;
}
.menuBar{
    padding-left: 409px;
}
.btn{
    padding-left: 319px;
}
.menuBar p, .btn p{
    padding: 20px;
    float: left;
}
.btn p:hover{
    text-decoration: underline;
}
.joinBtn{
    border: blue;
    background-color: blue;
    margin-top: 12px;
    padding: 8px 16px;
}
.joinBtn:hover{
    border:2px solid white;
    background-color: transparent;
    color: blue;
}
.clean{
    width: 100%;
    height: 20px;
    clear: both;
}
.menuBar p{
    animation-name: menuBar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}  
@keyframes menuBar {
    20% {color: white;}
    40% {color: yellow;}
    60% {color: red;}
    80% {color: white;}
    100% {color: yellow;}
}
.menuBar p:hover{
    animation-name: menuBarHover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}  
@keyframes menuBarHover {
    30% {background-color: transparent;transform: rotateX(150deg)}
    60% {background-color: transparent;transform: rotateX(-150deg)} 
    100% {background-color: transparent;transform: rotateX(150deg)} 
}
/* main */
.main{
    width: 96%;
    margin:0 30px;
}
.review p:hover{
    columns: white;
}
.review,.image, .imgCollect{
    width: 33%;
    float: left;
}
.head, .centerMovie, .centerCollect{
    color: rgb(223, 223, 29);
    padding: 10px 0;
}
.review p{
    font-size: 14px;
    color: rgb(187, 184, 184);
}
.people{
    width: 19%;
    float: left;
}
.people img{
    width: 60px;
    height: 60px;
    margin: 15px ;
}
.people img:hover{
    animation-name: peopleImgHover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}  
@keyframes peopleImgHover {
    30% {transform: rotateY(150deg)}
    60% {transform: rotateY(-150deg)} 
    100% {transform: rotateY(150deg)} 
}
.txt{
    width: 79%;
    float: left;
    margin:15px 0 ;
    font-style: italic;
    padding: 3px 0;
}
.movieHeader{
    clear: both;
    color: rgb(223, 223, 29);
    font-size: 22px;
    font-weight: bold;
}
.movieTxt, .date{
    color: rgb(187, 184, 184);
    font-style: italic;
}
.centerMovie, .movieHeader, .movieTxt, .date{
    margin-left: 47px;
}
.image img{
    width: 350px;
    height: 200px;
    margin: 3px 50px;
}
.image img:hover{
    animation-name: centerImg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}  
@keyframes centerImg{
    25% {transform: rotateY(90deg);}
    50% {transform: rotateY(180deg);} 
    75% {transform: rotateY(270deg);} 
    100% {transform: rotateY(360deg);} 
}
.centerCollect{
    margin-left: 30px;
}
.imgCollect img{
    width: 100px;
    height: 75px;
    margin: 0 30px;
    float: left;
}
.imgCollect img:hover{
    animation-name: imgCollectHover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}  
@keyframes imgCollectHover {
    30% {transform: rotateZ(40deg)}
    60% {transform: rotateZ(-40deg)} 
    100% {transform: rotateZ(40deg)} 
}
.collectionTxt{
    color: rgb(223, 223, 29);
}
.imgCollect p{
    color: rgb(187, 184, 184);
}
.footer{
    width: 100%;
    height: 20px;
    clear: both;
}
.one p{
    float: left;
    color: rgb(223, 223, 29);
    padding:20px 0 0 550px;
}